src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:netsuite="http://www.mulesoft.org/schema/mule/netsuite" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/netsuite http://www.mulesoft.org/schema/mule/netsuite/current/mule-netsuite.xsd">
	<flow name="postEmployeesFlow" doc:id="1acc4e5f-fc6b-4d5f-888f-f9855abcb7ab" >
		<logger level="INFO" doc:name="Logger" doc:id="0c597a7c-8630-4cb5-adbd-0e4ab1978bc4" message="employee=#[payload]"/>
		<json:validate-schema doc:name="Validate schema" doc:id="419b6ba5-632c-4c7f-8b06-cb0e6154752d" schema="api/examples/post_employees_example.json"/>
		<logger level="INFO" doc:name="Log MOCK check unused user in Netsuite" doc:id="dc523360-2c22-49e7-b4ed-854b6b5e79ab" message="MOCK checking unused name in Netsuite"/>
		<ee:transform doc:name="Prepare SearchEmployees request" doc:id="bb0d5d62-fea3-4ae8-a0e0-82cd70a33ca1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	basic: {
		firstName: {
			operator: "IS",
			searchValue: payload.firstName
		},
		lastName: {
			operator: "IS",
			searchValue: payload.lastName
		}
	}
} as Object {
	class : "org.mule.module.netsuite.extension.api.EmployeeSearch"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="MOCK Search call to Netsuite" doc:id="e232a41e-8910-4d81-9780-d7e4e97d7381" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"result" : "OK"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Doesn't Employee with the same firstName and lastName exist?" doc:id="e6e60291-b352-45eb-9a7d-2d84de7faf77" >
			<when expression="payload.result=='OK'" >
				<logger level="INFO" doc:name="Log MOCK insert employee to Netsuite" doc:id="3c57fa70-89fd-46d1-b971-88262282bcde" message="MOCK inserting of new employee to Netsuite"/>
				<ee:transform doc:name="MOCK insert emplyee to Netsuite" doc:id="127969ed-4892-46d3-a30d-6bad8935694a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"internalId" : "NetsuiteId" ++ uuid()
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<ee:transform doc:name="Response, status code 201" doc:id="95367726-b6f2-47ec-bdbe-7f80f4bd979f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{ 
	"id": payload.internalId
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[%dw 2.0
output application/java
---
201]]></ee:set-variable>
						<ee:set-variable variableName="outboundHeaders" ><![CDATA[%dw 2.0
output application/java
---
{"Location":"http://" ++ p("api.domain") ++ ":" ++ p("http.port") ++ p("api.basePath") ++ "/employees/" ++ payload.internalId}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Response, status code 422" doc:id="c18c3d4d-0920-4949-a541-2d7211ed5768" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{ 
	"message": "There is already Employee with the same firstName and lastName in Netsuite."
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[%dw 2.0
output application/java
---
	422]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="getEmployeesFlow" doc:id="e6a9bcf6-03e7-4428-8388-aaa1c7ce8d79" >
		<ee:transform doc:name="Transform Message" doc:id="ec1261c9-de57-4254-9c7d-6136a1601c7f" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: "21001",
    firstName: "Logan",
    lastName: "McNeil",
    addressLine: "3939 The Embarcadero",
    city: "San Francisco",
    postalCode: "94111",
    country: "USA",
    region: "USA-CA",
    birthDate: "1972-05-25-07:00",
    phone: "444-8262",
    email: "kit.wong+jobvite@mulesoft.com",
    positionTitle: "Chief Human Resources Officer",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21002",
    firstName: "Steve",
    lastName: "Morgan",
    addressLine: "965 Tulare Avenue",
    city: "Berkeley",
    postalCode: "94707",
    country: "USA",
    region: "USA-CA",
    birthDate: "1959-05-22-07:00",
    phone: "635-1856",
    email: "smorgan@workday.net",
    positionTitle: "Chief Executive Officer",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21003",
    firstName: "Oliver",
    lastName: "Reynolds",
    addressLine: "2788 Clay Street",
    city: "San Francisco",
    postalCode: "94111",
    country: "USA",
    region: "USA-CA",
    birthDate: "1962-04-10-08:00",
    phone: "435-1163",
    email: "oreynolds@workday.net",
    positionTitle: "Chief Information Officer",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21004",
    firstName: "Maximilian",
    lastName: "Schneider",
    addressLine: "300 Road st",
    city: "San Francisco",
    postalCode: "94102",
    country: "USA",
    region: "USA-CA",
    birthDate: "1967-01-19-08:00",
    phone: "766-0809",
    email: "mschneider@workday.net",
    positionTitle: "Chief Operating Officer",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21005",
    firstName: "Teresa",
    lastName: "Serrano",
    addressLine: "1155 Avenue of the Americas",
    city: "New York",
    postalCode: "10036",
    country: "USA",
    region: "Not presented",
    birthDate: "1957-05-05-07:00",
    phone: "755-8292",
    email: "tserrano@workday.net",
    positionTitle: "Chief Financial Officer",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21006",
    firstName: "Maria",
    lastName: "Cardoza",
    addressLine: "4432 John Daly Blvd.",
    city: "Daly City",
    postalCode: "94707",
    country: "USA",
    region: "USA-CA",
    birthDate: "1971-01-29-08:00",
    phone: "445-6767",
    email: "mcardoza@workday.net",
    positionTitle: "Director, Employee Benefits",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21007",
    firstName: "Jacqueline",
    lastName: "Desjardins",
    addressLine: "1888 Broadway Street  Apt. # 910",
    city: "San Francisco",
    postalCode: "94109",
    country: "USA",
    region: "USA-CA",
    birthDate: "1969-02-17-08:00",
    phone: "828-1466",
    email: "jdesjardins@workday.net",
    positionTitle: "Director, Recruiting Services",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21008",
    firstName: "Betty",
    lastName: "Liu",
    addressLine: "3939 The Embarcadero",
    city: "San Francisco",
    postalCode: "94111",
    country: "USA",
    region: "USA-CA",
    birthDate: "1990-11-22-08:00",
    phone: "445-6778",
    email: "bliu@workday.net",
    positionTitle: "Director, Payroll Operations",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21009",
    firstName: "Pedro",
    lastName: "Santiago",
    addressLine: "5067 Thomas Street",
    city: "Annapolis",
    postalCode: "21409",
    country: "USA",
    region: "Not presented",
    birthDate: "1960-02-29-08:00",
    phone: "431-1256",
    email: "psantiago@workday.net",
    positionTitle: "Director, Workforce Planning",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21012",
    firstName: "Norman",
    lastName: "Chan",
    addressLine: "541 Biscayne Drive",
    city: "San Rafael",
    postalCode: "94901",
    country: "USA",
    region: "USA-CA",
    birthDate: "1979-08-02-07:00",
    phone: "333-4554",
    email: "nchan@workday.net",
    positionTitle: "Staff Payroll Specialist",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21010",
    firstName: "Lillian",
    lastName: "Chu",
    addressLine: "1515 Spruce Street",
    city: "Berkeley",
    postalCode: "94709",
    country: "USA",
    region: "USA-CA",
    birthDate: "1970-07-22-07:00",
    phone: "692-3646",
    email: "lchu@workday.net",
    positionTitle: "Senior Benefits Analyst",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21014",
    firstName: "James",
    lastName: "Moore",
    addressLine: "312 Oak Street  Apt. 5",
    city: "Oakland",
    postalCode: "94607",
    country: "USA",
    region: "USA-CA",
    birthDate: "1977-06-19-07:00",
    phone: "838-1622",
    email: "jmoore@workday.net",
    positionTitle: "Staff Recruiter",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21011",
    firstName: "Isabel",
    lastName: "Arguello",
    addressLine: "3939 The Embarcadero",
    city: "San Francisco",
    postalCode: "94111",
    country: "USA",
    region: "USA-CA",
    birthDate: "1967-04-15-08:00",
    phone: "722-9845",
    email: "iarguello@workday.net",
    positionTitle: "Staff Payroll Specialist",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21013",
    firstName: "David",
    lastName: "Spiegel",
    addressLine: "4255 Fourth Street",
    city: "Santa Rosa",
    postalCode: "95405",
    country: "USA",
    region: "USA-CA",
    birthDate: "1980-09-07-07:00",
    phone: "824-1142",
    email: "dspiegel@workday.net",
    positionTitle: "Senior Payroll Specialist",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21015",
    firstName: "Daniel",
    lastName: "Betancourt",
    addressLine: "185 Carl Street",
    city: "San Francisco",
    postalCode: "94117",
    country: "USA",
    region: "USA-CA",
    birthDate: "1982-07-22-07:00",
    phone: "635-9002",
    email: "dbetancourt@workday.net",
    positionTitle: "Senior Workforce Analyst",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21016",
    firstName: "Chad",
    lastName: "Anderson",
    addressLine: "200 W. Grand  Apt. 1965",
    city: "Chicago",
    postalCode: "60610",
    country: "USA",
    region: "Not presented",
    birthDate: "1974-05-22-07:00",
    phone: "992-4345",
    email: "canderson@workday.net",
    positionTitle: "Senior Benefits Analyst",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21017",
    firstName: "Sara",
    lastName: "Goldstein",
    addressLine: "845 Third Avenue  Apt. 4",
    city: "New York",
    postalCode: "10022",
    country: "USA",
    region: "Not presented",
    birthDate: "1958-03-05-08:00",
    phone: "559-2314",
    email: "sgoldstein@workday.net",
    positionTitle: "Director, Accounting",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21018",
    firstName: "Jerome",
    lastName: "Williams",
    addressLine: "1788 North Halsted",
    city: "Chicago",
    postalCode: "60610",
    country: "USA",
    region: "Not presented",
    birthDate: "1978-10-14-07:00",
    phone: "822-0712",
    email: "jwilliams@workday.net",
    positionTitle: "Senior Accountant",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21019",
    firstName: "Angela",
    lastName: "Mora",
    addressLine: "5801 College Avenue",
    city: "Oakland",
    postalCode: "94618",
    country: "USA",
    region: "USA-CA",
    birthDate: "1967-09-20-07:00",
    phone: "922-5201",
    email: "amora@workday.net",
    positionTitle: "Accounting Specialist - AR",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }, 
  {
    id: "21020",
    firstName: "Andrew",
    lastName: "Walton",
    addressLine: "7835 Sonoma Hwy",
    city: "Kenwood",
    postalCode: "95452",
    country: "USA",
    region: "USA-CA",
    birthDate: "1974-06-04-07:00",
    phone: "826-1182",
    email: "awalton@workday.net",
    positionTitle: "Tax Accountant",
    hireDate: "2000-01-01-08:00",
    weeklyHours: "40"
  }
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
